<div id="counter" class="counter">
  <div class="timer row">
    <div class="col-sm-3">
      <img src="{{ site.baseurl }}/assets/img/timer.webp" 
            class="timer-icon"
            alt="animação timer">
    </div>

    <div class="col-5 col-sm-2">
      <p class="text-center">
        <span class="text--orange">promoção</span> aproveite 
        <span class="featured-number text--orange">52%</span> 
        de desconto
      </p>
    </div>

    <div class="col-5 col-sm-2">
      <p class="text-center">
        <span id="sold" class="featured-number text--orange">189</span> vendidos
      </p>
    </div>

    <div class="col-12 col-sm-4 d-flex justify-content-center">
      <p class="text-center">
        <span class="d-block mb-1">essa promoção acaba em:</span> 
        <span class="time-block">
          <span id="nummins" class="featured-number">14</span> minutos
        </span>

        <span class="visually-hidden">e</span> 

        <span class="time-block">
          <span id="numsecs" class="featured-number">59</span> segundos
        </span>
      </p>
    </div>
  </div>

  <div class="prices row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-12 label label--wrong">
          <p>
            De: <span class="value"><span class="label-icon">R$ 597,00</span></span>
          </p>
        </div>

        <div class="col-12 label label--right">
          <p>
            Por apenas: <span class="value text--green"><span class="label-icon">R$ 287,90</span></span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <img src="{{ site.baseurl }}/assets/img/hypermax-2.png" 
            class="img-fluid"
            alt="animação timer">
    </div>
  </div>
</div>
