.text {
  
  &--orange {

    color: var(--orange);
  }
  
  &--green {

    color: var(--green);
  }

  &-left {

    text-align: left;
  }
  &-right {

    text-align: right;
  }

  @media (min-width: 576px) {

    &-sm-left {
  
      text-align: left !important;
    }
    &-sm-right {
  
      text-align: right !important;
    }
  }
}
