.counter {

  border-radius: 1rem;
  padding: 1rem;
  color: white;
  background-color: #141315;

  .timer {

    display: flex;
    justify-content: center;

    background-color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7rem;
    line-height: 0.8rem;

    padding: 1rem 0;

    @media (min-width: 576px) {
      font-size: 0.6rem;
    }

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icon {

      max-width: 40%; 
      height: auto;

      @media (min-width: 576px) {
        max-width: 100%; 
      }
    }
  }

  .time-block {
    background: var(--red);
    padding: 1rem;
    display: inline-block;
    border-radius: 0.3rem;

    @media (min-width: 576px) {
      padding: 0.6rem; 
    }
  }

  .featured-number {

    display: block;
    font-size: 2.3rem;
    line-height: 2.1rem;
  }

  .prices {
    
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;

    @media (min-width: 576px) {

      display: flex;
      align-items: center;
    }

    .label {

      z-index: 2;

      padding: 0.65rem;
      position: relative;

      display: flex;
      align-content: center;
      align-items: center;

      .value {
        z-index: 100;

        position: relative;
        margin: 0;
      }

      &--wrong .label-icon::before,
      &--right .label-icon::before {

        content: ' ';
        z-index: -1;

        position: absolute;
        width: 100%;
        height: 100%;


        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(3);
      }

      &--wrong .label-icon::before {

        background-image: url('#{$baseurl}/assets/img/wrong.png');
      }

      &--right .label-icon::before {

        background-image: url('#{$baseurl}/assets/img/right.png');
      }
    }
  }
}

.items-count {
  margin-top: 0px;
  margin-bottom: 0px;

  p {
    padding-bottom: 5px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
  }
}
.count {
  color: greenyellow;
  padding: 1px;
}

#clock-ticker {
  display: block;
  margin-bottom: 0px;
  margin-left: 2px;

  .block {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: left;
    text-align: center;
    width: 19%;

    .flip-top {
      width: 88px;
      height: 39px;
      line-height: 40px;
      font-size: 40px;
      text-align: center;
    }

    .label,
    span.flip-top {
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      width: 88px;
      line-height: 25px;
      font-family: "Open Sans", Arial, sans-serif;
    }
  }
}

