<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
      {{ content }}
    </div>

    <script type="text/javascript" 
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
